form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: blue;
}

input,
textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #868696;
  padding-left: 1rem;
}

*/ .btnLogin {
  width: 335px;
  height: 56px;
  background: #2D1CC6;
  border-radius: 16px;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}

#titulo {
  font-family: sans-serif;
  color: rgb(29, 9, 206);
  margin-left: 45%;
}

#subtitulo {
  font-family: sans-serif;
  font-size: small;
  color: #380B61;
  margin-left: 46%;
  margin-top: -18px;
}

.btnsolicitar {
  width: 335px;
  height: 56px;
  background: #2D1CC6;
  border-radius: 16px;
  border: none;
  color: #fff;
}