form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#titulo{
  font-family: sans-serif;
  color: #380B61;
  margin-left: 7%;
}

#subtitulo{
  font-family: sans-serif;
  font-size: small;
  color: #380B61;
  margin-left: 10%;
}
.container {
  width: 50%; /* Defina a largura do contêiner */
  margin: 0 auto; /* Centralize o contêiner na página */
  margin-left: 65px;
}

